{% extends "main_page.html" %}

{% if btn_list | length % 5 != 0 %}
    {% set div_count = ((btn_list | length / 5) | int) + 1 %} <!-- Деление на 5 условно, здесь может быть высчитанная константа -->
{% else %}
    {% set div_count = btn_list | length // 5 %}
{% endif %}
{% block content %}
<form>
    {% for div_num in range(div_count) %}
    <div>
        <% set start_ind = div_num * 5 %>
        <% set end_ind = start_ind + 5 %>
        {% for i in range(start_ind, end_ind) %}
            {% if i < btn_list | length %}
                <button type="submit" name="btn" class="class" value=btn_list[i]>
                    {{ btn_list[i] }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</form>
{% endblock %}