<!DOCTYPE html>
<html lang={{ lang }}>
<head>
    <meta charset="utf-8">
    <title>ProSpot</title>
</head>
<body>
    <header>
        <div>
            <h0>{{ title }}</h0>
            <button name="authorization" class="authorization_btn">{{ autho_btn_text }}</button>
            <button name="change_lang" class="change_lang_btn">{{ change_lang_btn_text }}</button>
        </div>
    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <div>
        <p>{{ tech_info }}</p>
    </div>
</body>